# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

#pycache files
*.pyc
/AnomalyDetector/AnomalyDetector/bin/Debug/Batches/Batch_1
/AnomalyDetector/AnomalyDetector/bin/Release/Batches/Batch_1/Copy
/AnomalyDetector/AnomalyDetector
